{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet" href="{% static 'styles/index.css'%}">
    
</head>
<body>
    
    <h5> Привет всем</h5>
    {% for ToMeet in Tomeet_list %}
        
        <h4>{{ ToMeet.persone }} </h4>
       
    {% endfor %}
   
    
   

    
   
</body>
</html>