{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson 28</title>
        <!-- <link rel="stylesheet" href="./Styles/index.css"> -->
        <link rel="stylesheet" href="{% static 'styles/index.css'%}">
        <!-- <link rel="stylesheet" href="./Styles/checkbox.css"> -->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">
        
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add-tomeet' %}"  method="POST">
                {% csrf_token %}
                <input 
                    class="create_input"
                    type="text"
                    placeholder="Напишите новую задачу"
                    name = "Tomeet_text"
                >
                
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="todo_container">
            {% for Tomeet in Tomeet_list %}
            <div class="todo_item
            {% if Tomeet.is_favorite%}
                marked
            {% endif %}
            ">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ Tomeet.persone}} -  {{ Tomeet.comment}}</h4>
                    <h6>Tel: {{ Tomeet.phone_namber}}</h6>
                </div>
                <div  class="todo_item_footer">
                    <p>{{ Tomeet.date_of_meeting }}</p>
                    <div class="action_buttons">
                        {% if Tomeet.is_favorite%}
                            <a href="{% url 'unmark-tomeet' Tomeet.id %}"><img src="{% static './icons/favoritesilver_star_favorite_6338.png' %}"></a>
                        {% else %}  
                            <a href="{% url 'mark-tomeet' Tomeet.id %}"><img src="{% static './icons/scheme_star_favorite_3421.png' %}"></a>
                        {% endif %}
                        
                        <a href="{% url 'delete-tomeet' Tomeet.id %}"><img src="{% static './icons/3844460-can-trash_110351.png' %}"></a>
                    </div>

                </div>
             </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>