{%  load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> ToDo </title>
        <!-- <link rel="stylesheet" href="./Styles/index.css"> -->
        <link rel="stylesheet" href="{% static 'styles/index.css'%}">
        <!-- <link rel="stylesheet" href="./Styles/checkbox.css"> -->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">
        <!-- <link rel="stylesheet" href="./styles.css"> -->
        <link rel="stylesheet" href="{% static 'styles/styles.css'%}">
        
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'add_new' %}"  method="POST">
                {% csrf_token %}
                <input 
                    class="create_input"
                    type="text"
                    placeholder="Напишите новую задачу"
                    name = "new_text"
                >
                
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="todo_container">
            {% for Goal_for_month in Goal_list %}
            <div class="todo_item
            {% if Goal_for_month.difficulty %}
                marked
            {% endif %}
            ">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ Goal_for_month.goal }} -  {{ Goal_for_month.reason_for_goal}}</h4>
                </div>
                <div  class="todo_item_footer">
                    <p>{{ Goal_for_month.month }}</p>
                    <div class="action_buttons">
                        {% if Goal_for_month.difficulty %}
                            <a href="{% url 'unmark-goal' Goal_for_month.id %}"><img src="{% static './icons/favoritesilver_star_favorite_6338.png' %}"></a>
                        {% else %}  
                            <a href="{% url 'mark-goal' Goal_for_month.id %}"><img src="{% static './icons/scheme_star_favorite_3421.png' %}"></a>
                        {% endif %}
                        
                        <a href="{% url 'delete-goal' Goal_for_month.id %}"><img src="{% static './icons/3844460-can-trash_110351.png' %}"></a>
                    </div>

                </div>
             </div>
            {% endfor %}
        </div>
    </section>
    
</body>
</html>