{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lesson 28</title>
        <!-- <link rel="stylesheet" href="./Styles/index.css"> -->
        <link rel="stylesheet" href="{% static 'styles/indexes.css'%}">
        <!-- <link rel="stylesheet" href="./Styles/checkbox.css"> -->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">
        
</head>
<body>
    <section>
        <div class="create_container">
            <form action="{% url 'habits' %}"  method="POST">
                {% csrf_token %}
                <input 
                    class="create_input"
                    type="text"
                    placeholder="Напишите новую задачу"
                    name = "Tomeet_text"
                >
                
                <button class="create_button">Добавить</button>
            </form>
        </div>
        <div class="todo_container">
            {% for habits in habits_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ habits.name }}</h4>
                    <em> -- {{ habits.comment }} --</em>
                    
                </div>
                <div  class="todo_item_footer">
                    <div class="action_buttons">
                        <!-- <img src="{% static './icons/scheme_star_favorite_3421.png' %}"> -->
                        <!-- <img src="{% static './icons/3844460-can-trash_110351.png' %}"> -->
                    </div>

                </div>
             </div>
            {% endfor %}
        </div>
    </section>
</body>
</html>