{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson 28</title>
    <!-- <link rel="stylesheet" href="./Styles/index.css"> -->
    <link rel="stylesheet" href="{% static 'styles/index.css'%}">
    <!-- <link rel="stylesheet" href="./Styles/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">
    

</head>
<body>
    <section>
        <div class="create_container">
            <input 
            class="create_input"
            type="text"
            placeholder="Напишите новую задачу">
            <button class="create_button">Добавить</button>
        </div>

        <div class="todo_container">
            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div  class="todo_item_footer">
                    <p>28.02.2022 <span>16:22</span></p>
                    <div class="action_buttons">
                        <img src="./icons/scheme_star_favorite_3421.png">
                        <img src="./icons/3844460-can-trash_110351.png">
                    </div>

                </div>
             </div>
            
            <div class="todo_item marked">
                <div>
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div  class="todo_item_footer">
                        <p>28.02.2022 <span>16:22</span></p>
                        <div class="action_buttons">
                            <img src="./icons/favoritesilver_star_favorite_6338.png">
                            <img src="./icons/3844460-can-trash_110351.png">
                            
                        </div>
    
                    </div>
                 </div>
            </div>
            
            <div class="todo_item done">
                <div >
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div  class="todo_item_footer">
                        <p>28.02.2022 <span>16:22</span></p>
                        <div class="action_buttons">
                            <img src="./icons/favoritesilver_star_favorite_6338.png">
                            <img src="./icons/3844460-can-trash_110351.png">
                           
                        </div>
    
                    </div>
                 </div>
            </div>
            
            <div class="todo_item marked">
                <div>
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div  class="todo_item_footer">
                        <p>28.02.2022 <span>16:22</span></p>
                        <div class="action_buttons">
                           
                            <img src="./icons/favoritesilver_star_favorite_6338.png">
                            <img src="./icons/3844460-can-trash_110351.png">
                        </div>
    
                    </div>
                 </div>
            </div>
           
            <div class="todo_item">
                <div >
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div  class="todo_item_footer">
                        <p>28.02.2022 <span>16:22</span></p>
                        <div class="action_buttons">
                            <img src="./icons/scheme_star_favorite_3421.png">
                            <img src="./icons/3844460-can-trash_110351.png">
                            
                            
                        </div>
    
                    </div>
                 </div>
            </div>
            
            <div class="todo_item done">
                <div>
                    <div class="todo_item_header">
                        <label class="checkbox_container">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                        <h4>Купить молоко</h4>
                    </div>
                    <div  class="todo_item_footer">
                        <p>28.02.2022 <span>16:22</span></p>
                        <div class="action_buttons">
                            <img src="./icons/scheme_star_favorite_3421.png">
                            <img src="./icons/3844460-can-trash_110351.png">
                        </div>
    
                    </div>
                 </div>
            </div> -->

        </div>
    </section>
    
    
</body>
</html>